<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include "header.html" %}
<div class="wrapper">
  <div class="">
    <div class="product-info">
      <h1>About YaShop</h1>
      <hr>
      <div class="desc">
        This project is python-based toy webshop. However it can be used as fully-functional internet shop. It was made for Yandex.Lyceum flask project. Dear teacher, please rate us 100! To fill this page I'll write here the reciept of cabbage rolls. 
        <br><hr>
    1. In a medium saucepan, bring water to a boil. Add rice and stir. Reduce heat, cover and simmer for 20 minutes.<br>
    2. Bring a large, wide saucepan of lightly salted water to a boil. Add cabbage leaves and cook for 2 to 4 minutes or until softened; drain.<br>
    3. In a medium mixing bowl, combine the ground beef, 1 cup cooked rice, onion, egg, salt and pepper, along with 2 tablespoons of tomato soup. Mix thoroughly.<br>
    4. Divide the beef mixture evenly among the cabbage leaves. Roll and secure them with toothpicks or string.<br>
    5. In a large skillet over medium heat, place the cabbage rolls and pour the remaining tomato soup over the top. Cover and bring to a boil. Reduce heat to low and simmer for about 40 minutes, stirring and basting with the liquid often.
 <br><hr>
      </div>
    </div>

  </div>
</div>


</div> <!-- product -->
</div> <!-- wrapper -->
<script src="/static/js/scripts.js"></script>
</body>
</html>